.h1 {
	font-size: 96px;
}

.h2 {
	font-size: 36px;
}

.h3 {
	font-size: 24px;
}

.h4 {
	font-size: 18px;
}

.h5 {
	font-size: 14px;
}

.color-orange {
	color: #fb9f0d;
}

.color-white {
	color: #ffffff;
}

.color-black {
	color: #000000;
}
