.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-image: url('assets/img/landing-bg-1.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;

	max-width: 100%;

	&__wrapper {
		width: 1200px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	&__title {
		font-size: 58px;
		font-weight: 900;
		text-transform: uppercase;
		color: var(--primaryLight);
	}
	&__menu {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
		&-group {
			&-item {
				font-size: 14px;
				font-weight: 700;
				padding: var(--m-0-25);
				color: var(--primaryLight);
			}
		}
	}
	&__contacts {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		cursor: pointer;
		&-title {
			font-weight: 700;
			font-size: 24px;
			color: var(--primaryLight);
			text-decoration-line: underline;
		}
	}
}

@media (min-width: 500px) {
	.footer {
	}
}
