.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('assets/img/landing-bg-1.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;

	max-width: 100%;

	&__wrapper {
		width: 1200px;
	}
}

@media (min-width: 500px) {
	.footer {
	}
}
