.header {
	&__logo {
		color: var(--primaryLight);
		font-size: var(--h3-fs);
		font-weight: 900;
		letter-spacing: 0.1em;
		position: relative;
		&::before {
			display: block;
			position: absolute;
			top: -14px;
			right: 0;
			content: url('assets/img/header-logo-ufo.png');
		}
	}
	&__logo:hover {
		color: var(--secondaryOrange);
		transform: scale(1.02);
	}
	&__wrapper {
		padding: 30px 0px;
	}
	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	&__nav {
		&__list {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		&__item {
			padding: 0px 67px;
			color: var(--primaryLight);
		}

		&__link:active,
		&__link:hover,
		&__link {
			text-decoration: none;
			color: var(--primaryLight);
			font-size: var(--h4-fs);
		}
		&__link:hover {
			color: var(--secondaryOrange);
		}
	}
	&__auth {
		display: flex;
		flex-direction: row;
		align-items: center;

		&__divider {
			padding: 0px 5px;
			cursor: default;
		}

		&__link:active,
		&__link:hover,
		&__link {
			text-decoration: none;
			color: var(--primaryLight);
			font-size: var(--h4-fs);
		}

		&__join {
			color: var(--secondaryOrange);
		}
		&__login {
			color: var(--secondaryGray);
		}
	}
}
