.signup {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;

	background-image: url('assets/img/signup-bg.jpg');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;

	&__header {
		position: relative;
		margin-top: 46px;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: flex-end;
		a {
			color: var(--primaryLight);
			font-weight: 900;
			font-size: 24px;
			line-height: 36px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			cursor: pointer;
			&::before {
				content: url('assets/img/title-ufo.png');

				position: absolute;
				display: block;
				top: -13px;
				right: 0;
			}
		}
	}
	&__title {
		color: var(--primaryLight);

		font-weight: 700;
		font-size: 36px;
		line-height: 54px;
		margin-top: 40px;
	}
	&__wrapper {
		max-width: 450px;
	}

	&__social {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 40px 0px;
		&-btn {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			min-width: 374px;
			padding: 11px 0px;
			border-radius: 20px;
			cursor: pointer;
			color: var(--primaryLight);
			font-weight: 700;
			font-size: 18px;
			line-height: 27px;
			letter-spacing: 0.1em;
			img {
				padding-right: 16px;
			}
			&:hover {
				transform: scale(1.05);
			}
		}
		&-facebook {
			background: #3b5998;
			margin-bottom: 20px;
		}
		&-google {
			background: #1cba55;
		}
	}
	&__divider {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		position: relative;
		span {
			color: var(--primaryLight);
			font-weight: 400;
			font-size: 18px;
			line-height: 27px;
			letter-spacing: 0.1em;
			text-transform: uppercase;

			&::before {
				content: '';
				position: absolute;
				display: block;
				top: 12px;
				left: 0;
				width: calc(50% - 30px);
				height: 1px;
				background-color: var(--primaryLight);
			}

			&::after {
				content: '';
				position: absolute;
				display: block;
				top: 12px;
				right: 0;
				width: calc(50% - 30px);
				height: 1px;
				background-color: var(--primaryLight);
			}
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-top: 25px;
		&__main-title {
			align-self: center;
			color: var(--primaryLight);
			font-weight: 700;
			font-size: 18px;
			line-height: 27px;
			margin-bottom: 40px;
		}
		&-wrapper {
			width: 100%;
			margin-bottom: 24px;
		}
		&-title {
			color: var(--primaryLight);
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			letter-spacing: 0.1em;
			span {
				text-decoration-line: underline;
				color: var(--secondaryOrange);
				cursor: pointer;
				padding: 0 4px;
			}
		}
		&-input {
			min-width: 446px;
			padding: 14px 0px;
			font-weight: 400;
			font-size: 16px;
			color: #000;
		}
		&-checkbox {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			margin-bottom: 24px;
		}
		&-warning {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			div {
				color: #d31225;
			}
			&-img {
				margin-right: 12px;
			}
		}
		&-check {
			justify-self: center;
			align-self: center;
			margin-right: 15px;
			cursor: pointer;
		}
		&-button-signup {
			align-self: center;
			background: linear-gradient(135.29deg, #ebc07d -1.97%, #ce7e00 100.91%);
			margin: 1.875rem 0px;

			padding: 11px 50px;
			border-radius: 20px;

			color: var(--primaryLight);
			letter-spacing: 0.1em;
			cursor: pointer;

			font-weight: 700;
			font-size: 18px;
			line-height: 27px;
			text-align: center;
			letter-spacing: 0.1em;
		}
	}
	&__button-login {
		align-self: center;
		color: var(--primaryLight);
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 60px;
		a {
			margin-left: 4px;
			text-decoration-line: underline;

			color: var(--secondaryOrange);
			font-weight: 400;
			font-size: 18px;
			line-height: 27px;
		}
	}
}
