.home {
	min-height: 780px;
	background-image: url('assets/img/landing-home-bg-1.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: bottom;
	max-width: 100%;
	max-height: 100%;

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: var(--m-2);
	}

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2.8125rem 0;
		font-weight: 900;
		font-size: var(--h1-fs);
		color: var(--primaryLight);
		letter-spacing: 0.05em;
	}

	&__subtitle {
		max-width: 45rem;
		text-align: center;
		font-size: var(--h3-fs);
		color: var(--primaryLight);
	}

	&__button {
		position: relative;
		align-self: center;
		justify-self: center;
		height: 65px;
		width: 250px;

		background: linear-gradient(135.29deg, #ebc07d -1.97%, #ce7e00 100.91%);
		margin: 1.875rem 0px;
		border-radius: 3.43rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		cursor: pointer;

		color: var(--primaryLight);
		font-size: var(--h4-fs);
		font-weight: 700;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		&::before {
			display: block;
			position: absolute;
			top: -45px;
			right: 15px;
			content: url('assets/img/landing-button-ufo.png');
		}
	}
	&__button:hover {
		background: linear-gradient(135.29deg, #e4a23b -1.97%, #d78809 100.91%);
		transform: scale(1.05);
	}
}

.wewill {
	padding: 0rem 2.5rem;
	padding-bottom: 20px;

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	&__text {
		max-width: 40rem; //640px
	}
	&__title {
		font-size: var(--h2-fs);
		line-height: 130%;
		padding-bottom: 1.25rem;
	}
	&__subtitle {
		max-width: 28.75rem; // 430px
		font-size: var(--h4-fs);
	}
}

.features {
	padding-bottom: 240px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-image: url('assets/img/features-bg-003.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: bottom;
	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		min-width: 1000px;
		&-right {
			justify-content: end;
			padding-top: 120px;
		}
	}
	&__title {
		font-size: var(--h2-fs);
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
	}
	&__subtitle {
		font-size: var(--h4-fs);
		line-height: 150%;
		max-width: 32.5rem; //520px
		&-bold {
			font-size: var(--h4-fs);
			font-weight: 700;
			text-transform: uppercase;
			line-height: 150%;
			color: #3e3e3e;
		}
		&-orange {
			font-size: var(--h4-fs);
			font-weight: 700;
			text-decoration-line: underline;
			line-height: 150%;
			color: var(--secondaryOrange);
		}
	}
	&::before {
		content: url('assets/img/questions-bg-0002.png');
		position: absolute;
		display: block;
		top: 0;
		left: -40px;
	}
}

.plan {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-bottom: 350px;

	&::before {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		content: url('assets/img/Landing-questions-bg-r-1.png');
	}
	&__surfer {
		position: absolute;
		bottom: 70px;
		right: calc(15vw);
		z-index: -1;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
		min-width: 840px;
	}
	&__title {
		font-size: var(--h2-fs);
		text-transform: uppercase;
		&-orange {
			color: var(--secondaryOrange);
			font-weight: 700;
		}
	}
	&__subtitle {
		max-width: 650px;
	}
	&__button {
		cursor: pointer;
		align-self: flex-start;
		justify-self: start;
		height: 65px;
		width: 250px;

		background: linear-gradient(135.29deg, #ebc07d -1.97%, #ce7e00 100.91%);
		margin: 1.875rem 0px;
		border-radius: 3.43rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;

		color: var(--primaryLight);
		font-size: var(--h4-fs);
		font-weight: 700;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
	&__button:hover {
		background: linear-gradient(135.29deg, #e4a23b -1.97%, #d78809 100.91%);
		transform: scale(1.05);
	}
}

.bonuses {
	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url('assets/img/bonuses_bg.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: bottom;
	padding: 0px 2.5rem;
	padding-bottom: 550px;

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		max-width: 880px;
	}
	&__block {
		padding-bottom: 60px;
	}

	&__title {
		font-size: var(--h2-fs);
		text-transform: uppercase;
		color: #160d37;
	}
	&__subtitle {
		font-size: var(--h4-fs);
	}
}

.feedbacks {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	padding: 0px 4rem;
	padding-bottom: 40px;
	&__wrapper {
		max-width: 1200px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
	}
	&__title {
		font-size: var(--h2-fs);
		text-transform: uppercase;
		padding-bottom: 40px;
	}
	&__blocks {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		flex-wrap: wrap;
		width: 100%;
	}
	&__block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: #ffffff;
		box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		padding: 30px 20px;
	}
}

.faq {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	background-image: url('assets/img/faq_bg.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left;
	padding: 0px 2.5rem;
	&__wrapper {
		max-width: 1200px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: flex-start;
		padding-bottom: 120px;
	}
	&__title {
		font-size: var(--h2-fs);
		text-transform: uppercase;
		color: #160d37;
		padding-bottom: 40px;
	}
	&__block {
		padding-bottom: 40px;
		&-title {
			font-size: var(--h3-fs);
			font-weight: 700;
			padding-bottom: 15px;
		}
	}
}

@media (max-width: 1600px) {
	.features {
		&::before {
			left: -160px;
		}
	}
}
@media (max-width: 1400px) {
	.features {
		&::before {
			left: -240px;
		}
	}
}
@media (max-width: 1200px) {
	.wewill {
		&__img {
			img {
				height: 300px;
				width: 300px;
			}
		}
	}
	.features {
		padding-bottom: 140px;
		&::before {
			display: none;
		}
		&__wrapper {
			position: relative;
			justify-content: start;
			min-width: 800px;

			&-right {
				justify-content: start;
				padding-top: 30px;
			}
		}
		&__img {
			position: absolute;
			top: 0;
			left: 500px;
			img {
				height: 300px;
				width: 180px;
			}
		}
	}
	.plan {
		&::before {
			display: none;
		}
		&__surfer {
			bottom: 0;
			right: 10vw;
		}
	}
	.bonuses {
		background-image: url('assets/img/bonuses_bg-2.png');
		background-size: 100% 100%;
		padding-bottom: 440px;
		&__wrapper {
			max-width: 800px;
		}
	}
	.feedbacks {
		&__wrapper {
			max-width: 880px;
		}
	}
}
@media (max-width: 900px) {
	.home {
		background-image: url('assets/img/landing-home-bg-2.png');
	}
	.wewill {
		&__img {
			img {
				height: 200px;
				width: 200px;
			}
		}
	}
	.features {
		&__wrapper {
			min-width: auto;
		}
		&__subtitle {
			max-width: 360px;
		}
		&__img {
			left: 360px;
		}
	}
	.plan {
		padding: 0rem 2.5rem;
		padding-bottom: 100px;
		justify-content: center;
		&__surfer {
			width: 315px;
			height: 200px;
		}
		&__wrapper {
			min-width: auto;
			max-width: 640px;
		}
		&__subtitle {
			max-width: 480px;
		}
	}
	.bonuses {
		&__wrapper {
			max-width: 500px;
		}
	}
}
@media (max-width: 700px) {
	.wewill {
		&__img {
			display: none;
		}
	}
	.features {
		padding: 0px 40px;
		padding-bottom: 40px;
		&__img {
			display: none;
		}
		&__wrapper {
			width: 100%;
			justify-content: center;
		}
		&__subtitle {
			max-width: 640px;
		}
	}
	.feedbacks {
		&__wrapper {
			align-items: center;
			justify-content: center;
		}
	}
	.faq {
		background: none;
		&__wrapper {
			padding-bottom: 0;
		}
	}
}
@media (max-width: 500px) {
	.home {
		background-image: url('assets/img/landing-home-bg-3.png');
	}
	.plan {
		padding-bottom: 40px;
		&__surfer {
			display: none;
		}
	}
	.bonuses {
		background: none;
		padding-bottom: 20px;
	}
	.feedbacks {
		&__block {
			width: 290px;
		}
	}
}
